.login,
.image {
  min-height: 50vh;
 
}

.bg-image {
  background-image: url('images/pic.png');
  background-size: cover;
  background-position: center center;
}

body{
    padding: 100px 180px;
}

@media screen and (max-width: 1200px) and (min-width: 701px) {
 
  body {
    padding: 100px 50px;
    
  
  }
  
}


@media screen and (max-width: 700px) {
 
  body {
    padding: 50px;
    
  
  }
  .box{
    margin-top: 50px;
  }
 
}